@using AgileCalendarExample.Models.ViewModels.Agile
@model AgileDateBase
<div class="slonic-calendar-date slonic-calendar-colors-@Model.Color" title="@Model.Title">
    <div>@Model.Date.Day</div>
    <div>@Model.Name</div>
</div>