@using AgileCalendarExample.Models.View.Agile
@model HolidayDate
<div class="slonic-calendar-date slonic-calendar-colors-blueSky" title="@Model.Title">
    <div>@Model.Date.Day</div>
    <div>@Model.Name</div>
</div>