@using AgileCalendarExample.Models.View.Agile
@model PlanningDate
<div class="slonic-calendar-date slonic-calendar-colors-yellow" title="@Model.Title">
    <div>@Model.Date.Day</div>
    <div>@Model.Name</div>
</div>
