@using AgileCalendarExample.Models.View.Agile
@model VacationDate
<div class="slonic-calendar-date ui-state-default" title="@Model.Title">
    <div>@Model.Date.Day</div>
    <div>@Model.Name</div>
</div>
