<div class="colors-grid">
    <div>
        <div class="agile-calendar-colors-blueGloss"></div>
        <div class="agile-calendar-colors-bluePipe"></div>
        <div class="agile-calendar-colors-blueSky"></div>
        <div class="agile-calendar-colors-blueSoft"></div>
        <div class="agile-calendar-colors-blueToxic"></div>
        <div class="agile-calendar-colors-brownRed"></div>
    </div>
     <div>
        <div class="agile-calendar-colors-greenExtra"></div>
        <div class="agile-calendar-colors-greenDark"></div>
        <div class="agile-calendar-colors-greenLime"></div>
        <div class="agile-calendar-colors-greenNeon"></div>
        <div class="agile-calendar-colors-greenPeace"></div>
        <div class="agile-calendar-colors-greenSoft"></div>
    </div>
      <div>
        <div class="agile-calendar-colors-greyLight"></div>
        <div class="agile-calendar-colors-greyDark"></div>
        <div class="agile-calendar-colors-orange"></div>
        <div class="agile-calendar-colors-orangeDark"></div>
        <div class="agile-calendar-colors-orangeSoft"></div>
        <div class="agile-calendar-colors-orangeSoftExtra"></div>
    </div>
     <div>
        <div class="agile-calendar-colors-pink"></div>
        <div class="agile-calendar-colors-pinkBarbie"></div>
        <div class="agile-calendar-colors-pinkDark"></div>
        <div class="agile-calendar-colors-pinkSoftBright"></div>
        <div class="agile-calendar-colors-pinkSoftDark"></div>
        <div class="agile-calendar-colors-redFire"></div>
    </div>
     <div>
        <div class="agile-calendar-colors-redSoft"></div>
        <div class="agile-calendar-colors-redTomato"></div>
        <div class="agile-calendar-colors-yellow"></div>
        <div class="agile-calendar-colors-yellowGold"></div>
        <div class="agile-calendar-colors-yellowLight"></div>
        <div class="agile-calendar-colors-yellowSun"></div>
    </div>
</div>