<div class="colors-grid">
    <div>
        <div class="slonic-calendar-colors-greyDark" title="greyDark"></div>
        <div class="slonic-calendar-colors-greyLight" title="greyLight"></div>
        <div class="slonic-calendar-colors-whiteSmoke" title="whiteSmoke"></div>
        <div class="slonic-calendar-colors-blueWhite" title="blueWhite"></div>
        <div class="slonic-calendar-colors-blueSky" title="blueSky"></div>
        <div class="slonic-calendar-colors-blueSoft" title="blueSoft"></div>   
    </div>
     <div>
        <div class="slonic-calendar-colors-bluePipe" title="bluePipe"></div>
        <div class="slonic-calendar-colors-blueToxic" title="blueToxic"></div>
        <div class="slonic-calendar-colors-blueGloss" title="blueGloss"></div>
        <div class="slonic-calendar-colors-greenPeace" title="greenPeace"></div>
        <div class="slonic-calendar-colors-greenOlive" title="greenOlive"></div>
        <div class="slonic-calendar-colors-greenOliveDark" title="greenOliveDark"></div>
    </div>
      <div>
        <div class="slonic-calendar-colors-greenSoft" title="greenSoft"></div>
        <div class="slonic-calendar-colors-greenLime" title="greenLime"></div>
        <div class="slonic-calendar-colors-greenNeon" title="greenNeon"></div>
        <div class="slonic-calendar-colors-greenExtra" title="greenExtra"></div>
        <div class="slonic-calendar-colors-greenDark" title="greenDark"></div>
        <div class="slonic-calendar-colors-orange" title="orange"></div>
        
        
    </div>
     <div>
        <div class="slonic-calendar-colors-orangeSoftExtra" title="orangeSoftExtra"></div>
        <div class="slonic-calendar-colors-pink" title="pink"></div>
        <div class="slonic-calendar-colors-pinkBarbie" title="pinkBarbie"></div>
        <div class="slonic-calendar-colors-pinkDark" title="pinkDark"></div>
        <div class="slonic-calendar-colors-pinkSoftBright" title="pinkSoftBright"></div>
        <div class="slonic-calendar-colors-pinkSoftDark" title="pinkSoftDark"></div>
        
    </div>
     <div>
        <div class="slonic-calendar-colors-redFire" title="redFire"></div>
        <div class="slonic-calendar-colors-redSoft" title="redSoft"></div>
        <div class="slonic-calendar-colors-redTomato" title="redTomato"></div>
        <div class="slonic-calendar-colors-yellow" title="yellow"></div>
        <div class="slonic-calendar-colors-yellowGold" title="yellowGold"></div>
        <div class="slonic-calendar-colors-yellowLight" title="yellowLight"></div>
        
    </div>
    <div>
        <div class="slonic-calendar-colors-yellowSun" title="yellowSun"></div>
        <div class="slonic-calendar-colors-brownRed" title="brownRed"></div>
        <div class="slonic-calendar-colors-orangeDark" title="orangeDark"></div>
        <div class="slonic-calendar-colors-orangeSoft" title="orangeSoft"></div>
        <div class="slonic-calendar-colors-violet" title="violet"></div>
        <div class="slonic-calendar-colors-red" title="red"></div>
    </div>
</div>