@using AgileCalendarExample.HtmlHelperExtension;
@using AgileCalendarExample.Models.DomainModels;

@model IList<TeamMember>

<div id="teamMemberPicker">
    <label for="teamMembersControl">Please, enter the team member's name:</label>
    <input id="teamMembersControl" type="text"/>
</div>
<div id="teamMembersSource">@Html.GetJsonForTeamMembers()</div>