@using AgileCalendarExample.HtmlHelperExtension;
@using AgileCalendarExample.Models.DomainModels

@model AgileItemColoredBase

<div class="agile-item-colored @Html.Raw(Model.IsEmpty() ? "agile-item-template" : String.Empty)">
    <div><input type="text" value="@Model.Name"/></div>
    <div><input type="text" value="@Model.GetFormattedStartDate()"/></div>
    <div><input type="text" value="@Model.GetFormattedEndDate()"/></div>
    <div class="agile-item-colored-color slonic-calendar-colors-@Model.GetFormattedColor()" title="Select color">&nbsp;</div>
</div>