@using AgileCalendarExample.Models.DomainModels

@model IEnumerable<AgileItemBase>

<div class="ui-widget-content agile-releaseCycle-@ViewData["ClassName"]">
    <div class="agile-releaseCycle-header ui-state-default">@ViewData["Header"]</div>
    @foreach (AgileItemBase agileItem in Model)
    {
        @Html.EditorFor(m => agileItem)
    }
    @Html.EditorFor(m => ViewData["EmptyRecord"])
</div>
