@using AgileCalendarExample.App_GlobalResources;
@using AgileCalendarExample.Models.DomainModels

@model AgileItemColoredBase

<div class="agile-item-colored">
    <div><input type="text" value="@Model.Name"/></div>
    <div><input type="text" value="@Model.StartDate.ToString(AgileResources.DateFormatForTitle)"/></div>
    <div><input type="text" value="@Model.EndDate.ToString(AgileResources.DateFormatForTitle)"/></div>
    <div class="slonic-calendar-colors-@Model.Color" title="Select color">&nbsp;</div>
    <a href="javascript:return false;" onclick="javascript:deleteBreak($(this));">&nbsp;</a>
</div>