<label>Please, select one of the demo menu:</label>
<ul>
    <li>@Html.ActionLink("Edit agile release cycle", "EditReleaseCycle")</li>
    <li>@Html.ActionLink("Display agile release cycle", "DisplayReleaseCycle")</li>
</ul>