.slonic-calendar-date {position:relative}

/*======================== Date ========================*/
.slonic-calendar-date > div:first-child
{
    font-size: 1.5em;
    height:30px;
    padding-left:2px
}

/*======================== Text ========================*/
.slonic-calendar-date > div:nth-child(2)
{
    font-size:16px;
    padding-left:2px;
    position:absolute;
    bottom:0
}

/*======================== Vacation ========================*/
.agile-vacation{display:table;position:absolute;bottom:0;width:100px;text-align:right}
.agile-vacation > div
{
    display:table-cell;
}