/*======================== Calendar cell ========================*/

.slonic-calendar-date {position:relative}
/*---------- Date ----------*/
.slonic-calendar-date > div:first-child
{
    font-size: 1.5em;
    height:30px;
    padding-left:2px
}
/*---------- Text ----------*/
.slonic-calendar-date > div:nth-child(2)
{
    font-size:16px;
    padding-left:2px;
    position:absolute;
    bottom:0
}
/*---------- Vacation Imgs ----------*/
.agile-vacation{display:table;position:absolute;bottom:0;width:100px;text-align:right}
.agile-vacation > div{display:table-cell}
.agile-vacation > div:first-child{width:100%}

/*======================== Release Cycle editing control ========================*/
.agile-releaseCycle{display:inline-block}
.agile-releaseCycle > div { display:table }
.agile-releaseCycle > div > div { display:table-cell;margin: 3px; float: left;}
.agile-releaseCycle div
{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
/*---------- Header ----------*/
.agile-releaseCycle > div.agile-releaseCycle-header
{
    width:100%;
    font-weight:bold;
    padding-left: 5px;
    border-left-style:hidden;/* to avoid double borders */
    border-right-style:hidden;/* to avoid double borders */
}
.agile-releaseCycle > div.agile-releaseCycle-header:first-child{border-top-style:hidden;/* to avoid double borders */}
.agile-releaseCycle > div.agile-releaseCycle-header:last-child{border-bottom-style:hidden;/* to avoid double borders */}

/*---------- agile item colored ----------*/
.agile-releaseCycle > div.agile-item-colored > div:first-child > input{width:150px}
.agile-releaseCycle > div.agile-item-colored > div:not(:first-child) > input{width:80px}
.agile-releaseCycle > div.agile-item-colored > div:last-child
{
    width:24px;height:24px;
    border:1px solid black;
    outline:none;
    cursor:pointer
}