body {font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif"}
.ui-datepicker, .ui-dialog-title, .ui-dialog-content, .ui-button-text {font-size:13px!important}

div.main{margin-top:20px;display:table}
div.main > ul > li {margin-top:5px}
div.main > div {display:table-cell;vertical-align:top;padding-left:50px}
div.main > div > label {display:block}
textarea.json
{
	width:400px;
	max-width:600px;
	height:500px
}